<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <%- include('../../layout/head') %>
</head>
<%- include('../../layout/header.ejs'); %>

<body>
        
        <section>
                <img src = "<%= data.image_url %>">
        
                <h4><%= data.title %></h4>
                <h5><%= data.author %></h5>
                <p><%= data.description %></p>
                <p> ISBN: <%= data.isbn %></p>
                <p> Bookshelf: <%= data.bookshelf %></p>
                <button id="edit">Edit Details</button>
            <form id="container" action="/" method="POST">
                    <input type="hidden" name="_method" value="Delete">
                    <button id="delete">Delete this book</button>
            </form>
        </section>

        <form class="hidden" action="/details/<%=data.id%>" method="post">
            <input type="hidden" name="_method" value="PUT">
            <img src = "<%= data.image_url %>">
            <label for="<%= data.title%>">Title
                <input type="text" name="edits" value="<%= data.title%>" required>
            </label>

            <label for="<%= data.author%>">Author
                <input type="text" name="edits" value="<%= data.author%>" required>
            </label>
            
            <label for="<%= data.description%>">Description
                <input type="text" name="edits" value="<%= data.description%>" required>
            </label>

            <label for="<%= data.isbn%>">ISBN: 
                <input type="text" name="edits" value="<%= data.isbn%>" required>
            </label>

            <label for="<%= data.bookshelf%>">Bookshelf
                <input type="text" name="edits" value="<%= data.bookshelf%>" required>
            </label>
                  
            <button>Save</button>

        </form>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    
        <script src="../js/app.js"></script>
</body>
</html>