<!DOCTYPE HTML5>
<html>
<head>
    <%- include("../../layout/head.ejs") %>
</head>
<body>
    <% data.forEach(book => { %>
        <section>
            <img src = "<%= book.image_url %>">
    
            <h4><%= book.title %></h4>
            <h5><%= book.author %></h5>
            <p><%= book.description %></p>
            <button name="select">Select This Book</button>
        </section>
   <% }) %>
</body>

</html>